@import url("observablehq:default.css");
@import url("theme-cotton,near-midnight.css");

:root {
  --range-width: 400px;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-foreground-focus: hsl(150, 50%, 40%);
    --theme-background: hsl(60, 9.1%, 97.8%);
    --theme-background-alt: hsl(0, 0%, 100%);
    --theme-background-tra1: hsla(0, 0%, 100%, 0.1);
    --theme-background-tra2: hsla(0, 0%, 100%, 0.4);
    --theme-foreground-focus-alt: color-mix(in oklab, var(--theme-foreground-focus) 65%, var(--theme-background));
    --theme-title: color-mix(in oklab, var(--theme-foreground-alt) 50%, var(--theme-foreground-focus));
    --theme-title-focus: color-mix(in hsl longer hue, var(--theme-background) 30%, var(--theme-foreground-alt));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-foreground-focus: hsl(150, 50%, 60%);
    --theme-foreground-focus-alt: color-mix(in oklab, var(--theme-foreground-focus), var(--theme-background));
    --theme-background-tra1: hsla(0, 0%, 0%, 0.1);
    --theme-background-tra2: hsla(0, 0%, 0%, 0.2);
    --theme-title: color-mix(in oklab, var(--theme-foreground-alt) 40%, var(--theme-foreground-focus));
    --theme-title-focus: color-mix(in hsl longer hue, var(--theme-background) 55%, var(--theme-foreground-focus));
  }
}

html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  text-rendering: optimizeLegibility;
}

#observablehq-footer {
  display: flex;
  flex-flow: column;
  margin-left: 0px;
  margin-top: 0px;
}

#observablehq-footer nav {
  align-self: center;
  width: 100%;
}

#observablehq-sidebar {
  --observablehq-sidebar-padding-left: calc(max(0rem, (100vw - var(--observablehq-max-width)) / 3));
  width: calc(272px + var(--observablehq-sidebar-padding-left) * 1.5);
}

.card {
  display: flex;
  flex-direction: column;
}

p, table, figure, figcaption, h1, h2, h3, h4, h5, h6, .katex-display {
  max-width: 900px;
}

input {
  accent-color: var(--theme-foreground-alt);
}

a, a span {
  text-decoration: 1px;
  text-decoration-color: transparent !important;
  transition: all 0.3s ease !important;
}

a:hover, a:hover span {
  text-decoration-color: inherit !important;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  margin: 0 5px;
  padding-right: 0.2rem;
  font-family: system-ui;
  font-size: 10px;
  width: inherit;
  max-width: var(--range-width);
  box-sizing: border-box;
}

datalist option {
  rotate: -90deg;
  transform: translate(4px, 3px);
}

input[type=number] {
  display: none;
}

input[type=range] {
  max-width: var(--range-width);
}

input[type=range]:input {
  scroll-behavior: auto;
}

.card label {
  font: 13px/1.2 var(--sans-serif);
}

.inputs-3a86ea select {
  width: inherit !important;
  max-width: 40em !important;
}

form div label {
  font-family: system-ui !important;
}

.caption {
  color: var(--theme-foreground-muted);
  font: 11px/1.5 var(--sans-serif);
}

.caption > :not(:first-child)::before {
  content: "•";
  margin: 0.3em;
}

.card svg {
  margin-top: 0 !important;
}

.card h2 {
  line-height: 1.25;
}

h2:not(.card h2):not(h1 + h2):not(hr + h2) {
  margin-top: 2rem;
}

  .card h2, .card h3 {
    margin-right: 1rem;
  }

.underlined {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.underlined.math {
  text-decoration-color: #4269d0;
}

.underlined.read {
  text-decoration-color: #efb118;
}

.card {
  border: none;
  border-radius: 8px;
  padding: 1.8rem;
}

.card h3 {
  margin: 0.3rem 0 0.6rem;
}

.tip, .note {
  border: none;
  border-radius: 8px;
  padding: 1.5rem 2.5rem;
}

.tip:not(.tip[label=""]), .note:not(.note[label=""]) {
  padding-bottom: 2rem;
}

.tip[label=""]::before, .note[label=""]::before {
  margin-bottom: 0;
}