@import url("observablehq:default.css");
@import url("theme-cotton,near-midnight.css");

:root {
  --theme-foreground-focus: #339966;
}

@media (prefers-color-scheme: light) {
  :root {
  --theme-background-a: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

#observablehq-footer {
  display: flex;
  flex-flow: column;
  margin-left: 0px;
  margin-top: 0px;
}

#observablehq-footer nav {
  align-self: center;
  width: 100%;
}

#observablehq-sidebar {
  --observablehq-sidebar-padding-left: calc(max(0rem, (100vw - var(--observablehq-max-width)) / 3));
  width: calc(272px + calc(var(--observablehq-sidebar-padding-left) * 1.5));
}

.grid {
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

p, table, figure, figcaption, h1, h2, h3, h4, h5, h6, .katex-display {
  max-width: 900px;
}

input {
  accent-color: var(--theme-foreground-alt);
}

a, a span {
  text-decoration: 1px;
  text-decoration-color: transparent !important;
  transition: all 0.3s ease !important;
}

a:hover, a:hover span {
  text-decoration-color: inherit !important;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  margin: 0 5px;
  font-family: system-ui;
  font-size: 10px;
}

datalist option {
  rotate: -90deg;
  transform: translate(4px, 3px);
}

input[type="number"] {
    display: none;
}

input[type="range"]:input {
    scroll-behavior: auto;
}

.card > form {
  margin: 0.5rem 0 !important;
}

.card h2 {
  margin: 1rem 0;
}

.card label {
  font: 13px/1.2 var(--sans-serif);
}

.inputs-3a86ea select{
  width: inherit !important;
  max-width: 40em !important;
}


form div label {
  font-family: system-ui !important;
}
